<% location_data = defined?(current_user) ? current_user&.current_location : user&.current_location %>
<div id="booking-<%= booking.id %>-distance"
     class="mt-2 text-sm text-gray-600"
     data-controller="driver-location"
     data-driver-location-booking-id-value="<%= booking.id %>"
     data-driver-location-pickup-lat-value="<%= booking.status_accepted? ? booking.pickup_location&.latitude : booking.dropoff_location&.latitude %>"
     data-driver-location-pickup-lng-value="<%= booking.status_accepted? ? booking.pickup_location&.longitude : booking.dropoff_location&.longitude %>"
     data-driver-location-interval-value="60000"
     data-driver-location-location-latitude-value="<%= location_data&.dig(:coordinates, :latitude) %>"
     data-driver-location-location-longitude-value="<%= location_data&.dig(:coordinates, :longitude) %>"
     data-driver-location-location-address-value="<%= location_data&.dig(:address) %>"
     data-driver-location-google-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>">
  <p>
    <strong>My Location:</strong>
    <span data-driver-location-target="location"
          data-address="<%= booking.pickup %>"
          class="text-gray-700">
      Calculating...
    </span>
  </p>
  <p>
    <% if booking.status_accepted? %>
      <strong>Distance to Pickup point:</strong>
    <% else %>
      <strong>Distance to Dropoff point:</strong>
    <% end %>
    <span data-driver-location-target="distance" class="text-gray-700">
      Calculating...
    </span>
  </p>
  <p>
    <% if booking.status_accepted? %>
      <strong>ETA to Pickup:</strong>
    <% else %>
      <strong>ETA to Dropoff:</strong>
    <% end %>
    <span data-driver-location-target="eta" class="text-gray-700">
      Calculating...
    </span>
  </p>
</div>
