<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <h1 class="text-3xl font-bold mb-8">Welcome, <%= @user.first_name %></h1>

  <%= turbo_stream_from "user_#{current_user.id}_dashboard" %>

  <% if @user.role_admin? %>
    <%= render "admin_dashboard" %>
  <% elsif @user.role_driver? %>
    <%= render "driver_dashboard" %>
  <% else %>
    <%= render "passenger_dashboard" %>
  <% end %>

  <% if Rails.env.development? %>
    <%= render 'bookings/email_test_interface' %>
  <% end %>
</div>


