<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Passenger:</strong>
    <%= booking.passenger_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pickup:</strong>
    <%= booking.pickup %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Dropoff:</strong>
    <%= booking.dropoff %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled time:</strong>
    <%= booking.scheduled_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Requested seats:</strong>
    <%= booking.requested_seats %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Special instructions:</strong>
    <%= booking.special_instructions %>
  </p>
</div>
