<div id="<%= dom_id company_profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company_profile.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company_profile.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Whatsapp number:</strong>
    <%= company_profile.whatsapp_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telegram number:</strong>
    <%= company_profile.telegram_number %>
  </div>
</div>
