<div id="<%= dom_id vehicle %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Driver profile:</strong>
    <%= vehicle.driver_profile_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Registration number:</strong>
    <%= vehicle.registration_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Seating capacity:</strong>
    <%= vehicle.seating_capacity %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= vehicle.brand %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= vehicle.model %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= vehicle.color %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Fuel avg:</strong>
    <%= vehicle.fuel_avg %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Built year:</strong>
    <%= vehicle.built_year %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Has private insurance:</strong>
    <%= vehicle.has_private_insurance %>
  </p>
  <% if @driver_profile.selected_vehicle == vehicle %>
    Current Vehicle
  <% end %>
</div>
