<div id="<%= dom_id ride %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= ride.driver_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Invitation code:</strong>
    <%= ride.invitation_code %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= ride.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= ride.rating %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Available seats:</strong>
    <%= ride.available_seats %>
  </p>
</div>
