<div id="<%= dom_id ride %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= ride.driver_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pickup:</strong>
    <%= ride.pickup %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Dropoff:</strong>
    <%= ride.dropoff %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ride type:</strong>
    <%= ride.ride_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Invitation code:</strong>
    <%= ride.invitation_code %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled time:</strong>
    <%= ride.scheduled_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Available seats:</strong>
    <%= ride.available_seats %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= ride.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= ride.rating %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Review:</strong>
    <%= ride.review %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= ride.price %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Discount:</strong>
    <%= ride.discount %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Distance:</strong>
    <%= ride.distance %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated time:</strong>
    <%= ride.estimated_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Time taken:</strong>
    <%= ride.time_taken %>
  </p>
</div>
