<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for(:title) || "Ride Flow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# We're now using the static manifest file in public directory %>
    <%# tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Use the Propshaft asset pipeline with Tailwind CSS %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
<script src="https://cdn.brevo.com/js/sdk-loader.js" async></script>
<script>
    // Version: 2.0
    window.Brevo = window.Brevo || [];
    
    Brevo.push([
        "init",
        {
            client_key: "<%= ENV['BREVO_API_KEY'] %>",
            // Optional: Add other initialization options
        }
    ]);

    // Add user data if the user is logged in
    document.addEventListener("turbo:load", function() {
      <% if user_signed_in? %>
        Brevo.push([
            "updateIntegrationData", 
            {
                email: "<%= current_user.email %>",
                firstName: "<%= current_user.first_name %>",
                lastName: "<%= current_user.last_name %>"
            }
        ]);
      <% end %>
    });
</script>

    <%= render 'layouts/pwa' %>

<style>
 .loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes spin {
  0% { transform: translateY(-50%) rotate(0deg); }
  100% { transform: translateY(-50%) rotate(360deg); }
}
</style>
  </head>

  <body class="min-h-screen bg-gray-50">
    <%= render "shared/navbar" %>
    
    <div id="flash" class="container mx-auto">
      <%= render 'shared/flash' %>
    </div>

    <main class="">
      <%= yield %>
    </main>


    
  </body>
</html>
