<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for(:title) || "Ride Flow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= tag.meta name: "google-maps-api-key", content: ENV['GOOGLE_MAPS_API_KEY'] %>
    <script src="https://cdn.brevo.com/js/sdk-loader.js" async></script>
    <script>
        window.Brevo = window.Brevo || [];
        
        // Initialize Brevo Chat
        Brevo.push([
            "init",
            {
                client_key: "<%= ENV['BREVO_API_KEY'] %>",
            }
        ]);

        // Function to update user information once Brevo is fully loaded
        function updateBrevoUserData() {
            if (typeof Brevo.push !== "function") {
                console.warn("Brevo SDK not loaded yet, retrying...");
                setTimeout(updateBrevoUserData, 500); // Retry after 500ms
                return;
            }

            <% if user_signed_in? %>
              Brevo.push([
                  "updateIntegrationData",
                  {
                      email: "<%= current_user.email %>",
                      firstName: "<%= current_user.first_name %>",
                      lastName: "<%= current_user.last_name %>"
                  }
              ]);
            <% end %>
        }

        // Ensure the script runs after the DOM is fully loaded
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(updateBrevoUserData, 1000); // Delay execution slightly to avoid race conditions
        });
    </script>

  </head>

  <body class="min-h-screen bg-gray-50">
    <%= render "shared/navbar" %>
    
    <% if notice.present? %>
      <p class="notice py-2 px-3 bg-green-50 text-green-500 font-medium"><%= notice %></p>
    <% end %>
    
    <% if alert.present? %>
      <p class="alert py-2 px-3 bg-red-50 text-red-500 font-medium"><%= alert %></p>
    <% end %>

    <main class="container mx-auto mt-8 px-4 sm:px-6 lg:px-8">
      <%= yield %>
    </main>


    
  </body>
</html>
