<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for(:title) || "Ride Flow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# stylesheet_link_tag "tailwind", "intlTelInput", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" />
    <%= javascript_importmap_tags %>

<script src="https://cdn.brevo.com/js/sdk-loader.js" async></script>
<script>
    // Version: 2.0
    window.Brevo = window.Brevo || [];
    
    Brevo.push([
        "init",
        {
            client_key: "<%= ENV['BREVO_API_KEY'] %>",
            // Optional: Add other initialization options
        }
    ]);

    // Add user data if the user is logged in
    document.addEventListener("DOMContentLoaded", function() {
      <% if user_signed_in? %>
        Brevo.push([
            "updateIntegrationData", 
            {
                email: "<%= current_user.email %>",
                firstName: "<%= current_user.first_name %>",
                lastName: "<%= current_user.last_name %>"
            }
        ]);
      <% end %>
    });
</script>

    <%= render 'layouts/pwa' %>

  </head>

  <body class="min-h-screen bg-gray-50">
    <%= render "shared/navbar" %>
    
    <div id="flash" class="container mx-auto">
      <%= render 'shared/flash' %>
    </div>

    <main class="">
      <%= yield %>
    </main>


    
  </body>
</html>
